@font-face {
  font-family: 'sansr';
  src: url('./assets/fonts/SourceSans/SourceSansPro-Regular.woff2') format('woff2'), url('./assets/fonts/SourceSans/SourceSansPro-Regular.woff') format('woff'), url('./assets/fonts/SourceSans/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sanssemi';
  src: url('./assets/fonts/SourceSans/SourceSansPro-Semibold.woff2') format('woff2'), url('./assets/fonts/SourceSans/SourceSansPro-Semibold.woff') format('woff'), url('./assets/fonts/SourceSans/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@mixin sansr($size: 16, $lh: 28) {
  font-family: 'sansr', sans-serif;
  font-size: $size + px;
  line-height: $lh + px;
}

@mixin sanssemi($size: 16, $lh: 28) {
  font-family: 'sanssemi', sans-serif;
  font-size: $size + px;
  line-height: $lh + px;
}
