@import "assets/fonts.scss";
@import "assets/mixins";

:root {
  --white: #fff;
  --gray: #a3a3a3;
  --dark: #181818;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--dark);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include sansr();
}

