@import "assets/fonts.scss";

:root {
  --white: #fff;
  --gray: #a3a3a3;
  --dark: #181818;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'sansr', 'sans-serif';
}

